body{
    overflow-x: hidden;
}
.jumbotro{
    background-image: linear-gradient(rgba(7, 6, 6, 0.877), rgba(255,255,255,0.5)), url("../Assets/priscilla-du-preez-NjirplnVra8-unsplash.jpg");
    background-size: cover;
    /* padding-top: 60%; */
    -ms-transform: skewY(3deg);
    -webkit-transform:skewY(3deg);
    transform: skewY(3deg);
}
  .jumbotronn{
    background-image: linear-gradient(rgba(7, 6, 6, 0.877), rgba(255,255,255,0.5)), url(../Assets/icons8-team-m0oSTE_MjsI-unsplash.jpg);
    height: 50vh;
    -ms-transform: skewY(4deg);
    -webkit-transform:skewY(4deg);
    transform: skewY(4deg);
} 
 .align{
    -ms-transform: skewY(-4deg);
    -webkit-transform:skewY(-4deg);
    transform: skewY(-4deg);
    padding-top: 100px; 
}
.head{
    -ms-transform: skewY(-4deg);
    -webkit-transform:skewY(-4deg);
    transform: skewY(-4deg);
    
}
.head2{
     padding-top: 200px;
    -ms-transform: skewY(4deg);
    -webkit-transform:skewY(4deg);
    transform: skewY(4deg);
}
.font{
    font-size: 30px;
}
#navbar{
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 95px;
    margin-top: -20px;
    background-color: transparent;
}
.navbar-scroll{
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: white;
    top: -20px;
    box-shadow: 2px 2px 7px;
    transition: all ease-in-out 0.5s;
    animation: scroll .4s;
}
@keyframes scroll{
    from {
        height: 0;
    }
    to {
        height: 90px;
    }
}
#menu-bar{
    width: 50px;
    font-size: 35px;
    cursor: pointer;
}
#navbar-brand{
    position: absolute;
    top: 20px;
    margin-left: -200px;
    width: 50px;
    cursor: pointer;
}
#nav-head{
    margin-left: -40px;
}
.nav-icons{
    right: 100px;
    margin-left: 40px;
}
i{
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
}
.menu-cancel {
    display: none;
    position: absolute;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-top:20px;
    margin-left: 230px;
    z-index: 4;
}
.menu-nav-brand {
    position: fixed;
    top: 5px;
    margin-top: 4px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 4;
}
.menu {
    position: fixed;
    display: none;
    width: 20%;
    height: 65%;
    background-color: white;
    z-index: 4;
}
.menu ul {
    list-style: none;
    z-index: 5;
    margin-top:110px;
    margin-left: -46px;
}
.menu ul a {
    color: black;
}
.menu ul li {
    font-size: 23px;
    color: black;
    margin: 70px;
    cursor: pointer;
}
#menu-home {
    font-size: 20px;
}
#menu-about {
    font-size: 20px;
}
#menu-services {
    font-size: 20px;
    color: black;
}
#footer{
    background-color: #C4C4C4;
    padding-top: 50px;
} 