html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.body-overlay {
    display: none;
    position: absolute;
    background: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 1745px;
    z-index: 4;
}

#navbar {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 95px;
    margin-top: -20px;
    background-color: transparent;
}

.navbar-scroll {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: white;
    top: -20px;
    box-shadow: 2px 2px 7px;
    transition: all ease-in-out 0.5s;
    animation: scroll .4s;

}

@keyframes scroll {
    from {
        height: 0;
    }

    to {
        height: 90px;
    }
}

#menu-bar {
    width: 50px;
    font-size: 35px;
    cursor: pointer;
}

#navbar-brand {
    position: absolute;
    top: 20px;
    margin-left: -200px;
    width: 50px;
    cursor: pointer;
}

.menu-cancel {
    display: none;
    position: absolute;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 230px;
    z-index: 4;
}


.menu-nav-brand {
    position: fixed;
    top: 5px;
    margin-top: 4px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 4;
}

#nav-head {
    margin-left: -40px;
}

.nav-icons {
    right: 100px;
    margin-left: 40px;
}

.menu {
    position: fixed;
    display: none;
    width: 20%;
    height: 65%;
    background-color: white;
    z-index: 4;
}

.menu ul {
    list-style: none;
    z-index: 5;
    margin-top: 110px;
    margin-left: -46px;
}

.menu ul a {
    color: black;
}

.menu ul li {
    font-size: 23px;
    color: black;
    margin: 70px;
    cursor: pointer;
}

#menu-home {
    font-size: 20px;
}

#menu-about {
    font-size: 20px;
}

#menu-services {
    font-size: 20px;
    color: black;
}

i {
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
}

.header {
    position: absolute;
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
}

.ourServices {
    position: relative;
    top: 430px;
    margin: auto;
}

.ourServices h2 {
    text-align: center;
    font-size: 32px;
}

.ourServices p {
    width: 1130px;
    font-size: 18px;
    margin: auto;
    text-align: center;
    letter-spacing: 0.1em;
}

#second-p {
    margin-top: 30px;
    width: 1000px;
}

#input-file {
    display: none;
    margin-top: 20px;
    margin-left: 700px;
}

#form-error {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

#form-error2 {
    display: none;
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

#submitFiles {
    display: none;
    font-size: 18px;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    margin-left: 790px;
}

.jobs-section {
    position: relative;
    margin-top: 100px;
}

.jobs {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.jobs2 {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.apply {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 200px;
    background-color: lightgrey;
}

.job-types {
    font-size: 19px;
}

.job-location {
    font-size: 18px;
}

.job-btns {
    width: 100px;
    height: 35px;
    font-size: 13px;
    border: 1px solid transparent;
    background-color: black;
    color: white;
    transition: all ease-in-out 0.4s;
}

.job-btns:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

#sales-rep {
    width: 250px;
    text-align: center;
}

.view-more {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 50px;
    background-color: transparent;
    width: 150px;
    height: 45px;
    font-size: 15px;
    border: 1px solid black;
    transition: all ease-in-out 0.4s;
}

.view-more:hover {
    background-color: black;
    color: white;
}

#post-jobs {
    margin-top: 50px;
}

.post-btn {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 20px;
    background-color: transparent;
    width: 150px;
    height: 45px;
    font-size: 15px;
    border: 1px solid black;
    transition: all ease-in-out 0.4s;
}

.post-btn:hover {
    background-color: black;
    color: white;
}

#footer {
    position: relative;
    padding: 20px;
    padding-bottom: 1px;
    top: 500px;
    background-color: #C4C4C4;
}

#copyright {
    text-align: center;
}

.postjobs-head {
    font-size: 25px;
    text-align: center;
}

.jobs-form {
    background-color: white;
    position: fixed;
    top: 10%;
    left: 35%;
    width: 30%;
    height: 83%;
    padding: 30px;
    box-shadow: 2px 2px 7px;
    z-index: 5;
    display: none;
}

.form-inputs {
    width: 390px;
    height: 45px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}

.form-group {
    margin: auto;
    margin-top: 20px;
}

#jobsHide {
    position: absolute;
    margin-top: -40px;
    right: 0;
    font-size: 18px;
}

#submit-jobs {
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    height: 40px;
}

#submit-jobs:hover {
    background-color: rgb(252, 248, 248);
}

.apply-form {
    position: fixed;
    display: none;
    background-color: white;
    top: 10%;
    left: 35%;
    width: 30%;
    height: 83%;
    padding: 30px;
    box-shadow: 2px 2px 7px;
    z-index: 5;
}

#applyHide {
    position: absolute;
    margin-top: -40px;
    right: 0;
    font-size: 18px;
}

.apply-form-inputs {
    width: 390px;
    height: 45px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
}

#submit-application {
    display: block;
    border: 1px solid black;
    border-radius: 3px;
    background-color: transparent;
    color: black;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    height: 40px;
}