
/* the header section*/
#navbar{
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 95px;
    margin-top: -20px;
    background-color: transparent;
}
.navbar-scroll{
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: white;
    top: -20px;
    box-shadow: 2px 2px 7px;
    transition: all ease-in-out 0.5s;
    animation: scroll .4s;
}
.menu-cancel {
    display: none;
    position: absolute;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-top:20px;
    margin-left: 230px;
    z-index: 4;
}
.menu-nav-brand {
    position: fixed;
    top: 5px;
    margin-top: 4px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 4;
}
.menu {
    position: fixed;
    display: none;
    width: 24%;
    height: 80%;
    background-color: white;
    z-index: 4;
}
.menu ul {
    list-style: none;
    z-index: 5;
    margin-top:110px;
    margin-left: -46px;
}
.menu ul a {
    color: black;
}
.menu ul li {
    font-size: 23px;
    color: black;
    margin: 70px;
    cursor: pointer;
}
#menu-home {
    font-size: 20px;
}
#menu-about {
    font-size: 20px;
}
#menu-services {
    font-size: 20px;
    color: black;
}
@keyframes scroll{
    from {
        height: 0;
    }
    to {
        height: 90px;
    }
}
#menu-bar{
    width: 50px;
    font-size: 35px;
    cursor: pointer;
}
#navbar-brand{
    position: absolute;
    top: 20px;
    margin-left: -200px;
    width: 50px;
    cursor: pointer;
}
#nav-head{
    margin-left: -40px;
}
.nav-icons{
    right: 100px;
    margin-left: 40px;
}
i{
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
}
#banner{
    height: 55vh;
    background-image: url("../Assets/damian-zaleski-RYyr-k3Ysqg-unsplash\ \(2\).jpg");
    background-size: cover;
    font-size: 32px;
}
#limit{
    font-size: xx-large;
}
.find:hover{
    box-shadow: 5px 5px 7px 5px rgb(125, 125, 245);
}
@media only screen and (max-width: 601px){
    *{
        overflow-x: hidden;
    }
    #banner{
        height: 250px;
        font-size: 28px;
    }
    #limit{
        font-size: 23px;
    }
    #available{
        font-size: 23px;
    }
    form{
        width: 400px;
        margin: auto;
    }
    #signIn, #signUp{
        width: 300px;
    }
    #sign{
        width: unset;
    }
    #signedIn, #signedUp{
        padding: 15px;
    }
}
@media only screen and (min-width: 602px){
    .bigText{
        font-size: 56px;
    }
    #sign{
        width: 700px;
        margin: auto;
    }
    #signedIn, #signedUp{
        padding: 50px 40px 20px 20px;
    }
    .form-group{
        border-radius: 10px;
        width: 300px;
        margin: auto;
    }
    .btn{
        margin-top: 15px;
    }
}
#signIn, #signUp{
    border: 1px solid grey;
    background-color: #C4C4C4;
}
#available{
    font-size: xx-large;
}
.btn:hover{
    font-weight: bolder;
}
#jobsView{
    margin: auto;
}
#footer{
    background-color: #C4C4C4;
}