body {
    overflow-x: hidden;
}


.body-overlay {
    display: none;
    position: fixed;
    background: rgba(17, 17, 17, 0.6);
    width: 100%;
    height: 100vw;
    z-index: 4;
}

/* the header section*/



#navbar {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 95px;
    margin-top: -20px;
    background-color: transparent;
}

.navbar-scroll {
    position: sticky;
    z-index: 3;
    width: 100%;
    height: 90px;
    background-color: white;
    top: -20px;
    box-shadow: 2px 2px 7px;
    transition: all ease-in-out 0.5s;
    animation: scroll .4s;
}

.menu-cancel {
    display: none;
    position: absolute;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 230px;
    z-index: 4;
}

.menu-nav-brand {
    position: fixed;
    top: 5px;
    margin-top: 4px;
    margin-left: 10px;
    width: 50px;
    cursor: pointer;
    z-index: 4;
}

.menu {
    position: fixed;
    display: none;
    width: 24%;
    height: 80%;
    background-color: white;
    z-index: 4;
}

.menu ul {
    list-style: none;
    z-index: 5;
    margin-top: 110px;
    margin-left: -46px;
}

.menu ul a {
    color: black;
}

.menu ul li {
    font-size: 23px;
    color: black;
    margin: 70px;
    cursor: pointer;
}

#menu-home {
    font-size: 20px;
}

#menu-about {
    font-size: 20px;
}

#menu-services {
    font-size: 20px;
    color: black;
}

@keyframes scroll {
    from {
        height: 0;
    }

    to {
        height: 90px;
    }
}

#menu-bar {
    width: 50px;
    font-size: 35px;
    cursor: pointer;
}

#navbar-brand {
    position: absolute;
    top: 20px;
    margin-left: -200px;
    width: 50px;
    cursor: pointer;
}

#nav-head {
    margin-left: -40px;
}

.nav-icons {
    right: 100px;
    margin-left: 40px;
}

i {
    font-size: 14px;
    padding: 20px;
    cursor: pointer;
}



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #navbar {
        height: 45px;
        margin-top: -20px
    }

    .navbar-scroll {
        height: 60px;
        top: -20px;
    }

    @keyframes scroll {
        from {
            height: 0;
        }

        to {
            height: 60px;
        }
    }

    #menu-bar {
        margin-top: 3px;
        width: 32px;
        font-size: 21px;
    }

    #navbar-brand {
        top: 20px;
        margin-left: -40px;
        width: 27px;
    }

    .menu-cancel {
        width: 32px;
        font-size: 14px;
        margin-top: 20px;
        margin-left: 85px;
    }

    .menu-nav-brand {
        margin-top: -4px;
        margin-left: 6px;
        width: 24px;
    }

    #nav-head {
        margin-top: 11px;
        font-size: 17px;
        margin-left: -10px;
    }

    .nav-icons {
        right: 90px;
        margin-left: 35px;
    }

    .menu {
        width: 22%;
        height: 40%;
    }

    .menu ul {
        margin-top: 70px;
        margin-left: -31px;
    }

    .menu ul li {
        font-size: 9px;
        margin: 31px;
    }

    #menu-home {
        font-size: 11px;
    }

    #menu-about {
        font-size: 11px;
    }

    #menu-services {
        font-size: 11px;
    }

    #menu-contact {
        font-size: 11px;
    }

    i {
        font-size: 8px;
        padding: 10px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #navbar {
        height: 50px;
        margin-top: -20px
    }

    .navbar-scroll {
        height: 70px;
        top: -20px;
    }

    @keyframes scroll {
        from {
            height: 0;
        }

        to {
            height: 70px;
        }
    }

    #menu-bar {
        margin-top: 3px;
        width: 35px;
        font-size: 24px;
    }

    #navbar-brand {
        top: 23px;
        margin-left: -50px;
        width: 30px;
    }

    .menu-cancel {
        width: 35px;
        font-size: 16px;
        margin-top: 20px;
        margin-left: 110px;
    }

    .menu-nav-brand {
        margin-top: 1px;
        margin-left: 6px;
        width: 28px;
    }

    #nav-head {
        margin-top: 11px;
        font-size: 22px;
        margin-left: -10px;
    }

    .nav-icons {
        right: 90px;
        margin-left: 35px;
    }

    .menu {
        width: 22%;
        height: 48%;
    }

    .menu ul {
        margin-top: 70px;
        margin-left: -31px;
    }

    .menu ul li {
        font-size: 11px;
        margin: 43px;
    }

    #menu-home {
        font-size: 14px;
    }

    #menu-about {
        font-size: 14px;
    }

    #menu-services {
        font-size: 14px;
    }

    #menu-contact {
        font-size: 14px;
    }

    i {
        font-size: 10px;
        padding: 14px;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #navbar {
        height: 80px;
        margin-top: -20px;
    }

    .navbar-scroll {
        height: 80px;
        top: -20px;
    }

    @keyframes scroll {
        from {
            height: 0;
        }

        to {
            height: 80px;
        }
    }

    #menu-bar {
        width: 39px;
        font-size: 30px;
    }

    #navbar-brand {
        top: 23px;
        margin-left: -60px;
        width: 39px;
    }

    .menu-cancel {
        width: 38px;
        font-size: 20px;
        margin-top: 21px;
        margin-left: 140px;
    }

    .menu-nav-brand {
        margin-left: 10px;
        width: 38px;
    }

    #nav-head {
        margin-top: 11px;
        font-size: 24px;
        margin-left: -20px;
    }

    .nav-icons {
        right: 90px;
        margin-left: 35px;
    }

    .menu {
        width: 20%;
        height: 60%;
    }

    .menu ul {
        margin-top: 80px;
        margin-left: -32px;
    }

    .menu ul li {
        font-size: 14px;
        margin: 54px;
    }

    #menu-home {
        font-size: 16px;
    }

    #menu-about {
        font-size: 16px;
    }

    #menu-services {
        font-size: 16px;
    }

    #menu-contact {
        font-size: 16px;
    }

    i {
        font-size: 12px;
        padding: 17px;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #navbar {
        height: 85px;
        margin-top: -20px;
    }

    .navbar-scroll {
        height: 85px;
        top: -20px;
    }

    @keyframes scroll {
        from {
            height: 0;
        }

        to {
            height: 85px;
        }
    }

    #menu-bar {
        width: 40px;
        font-size: 33px;
    }

    #navbar-brand {
        top: 26px;
        margin-left: -100px;
        width: 40px;
    }

    .menu-cancel {
        width: 40px;
        font-size: 22px;
        margin-top: 17px;
        margin-left: 170px;
    }

    .menu-nav-brand {
        top: 3px;
        margin-left: 10px;
        width: 40px;
    }

    #nav-head {
        font-size: 34px;
        margin-left: -30px;
    }

    .nav-icons {
        right: 100px;
        margin-left: 40px;
    }

    .menu {
        width: 20%;
        height: 65%;
    }

    .menu ul {
        margin-top: 90px;
        margin-left: -30px;
    }

    .menu ul li {
        font-size: 16px;
        margin: 60px;
    }

    #menu-home {
        font-size: 18px;
    }

    #menu-about {
        font-size: 18px;
    }

    #menu-services {
        font-size: 18px;
    }

    #menu-contact {
        font-size: 18px;
    }

    i {
        font-size: 13px;
        padding: 19px;
        cursor: pointer;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #navbar {
        position: sticky;
        z-index: 3;
        width: 100%;
        height: 95px;
        margin-top: -20px;
        background-color: transparent;
    }

    .navbar-scroll {
        position: sticky;
        z-index: 3;
        width: 100%;
        height: 90px;
        background-color: white;
        top: -20px;
        box-shadow: 2px 2px 7px;
        transition: all ease-in-out 0.5s;
        animation: scroll .4s;
    }

    @keyframes scroll {
        from {
            height: 0;
        }

        to {
            height: 90px;
        }
    }

    #menu-bar {
        width: 50px;
        font-size: 35px;
        cursor: pointer;
    }

    #navbar-brand {
        position: absolute;
        top: 20px;
        margin-left: -200px;
        width: 50px;
        cursor: pointer;
    }

    .menu-cancel {
        display: none;
        position: absolute;
        width: 50px;
        font-size: 25px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 230px;
        z-index: 4;
    }

    .menu-nav-brand {
        position: fixed;
        top: 5px;
        margin-top: 4px;
        margin-left: 10px;
        width: 50px;
        cursor: pointer;
        z-index: 4;
    }

    #nav-head {
        margin-left: -40px;
    }

    .nav-icons {
        right: 100px;
        margin-left: 40px;
    }

    .menu {
        position: fixed;
        display: none;
        width: 20%;
        height: 65%;
        background-color: white;
        z-index: 4;
    }

    .menu ul {
        list-style: none;
        z-index: 5;
        margin-top: 110px;
        margin-left: -46px;
    }

    .menu ul a {
        color: black;
    }

    .menu ul li {
        font-size: 23px;
        color: black;
        margin: 70px;
        cursor: pointer;
    }

    #menu-home {
        font-size: 20px;
    }

    #menu-about {
        font-size: 20px;
    }

    #menu-services {
        font-size: 20px;
        color: black;
    }

    i {
        font-size: 14px;
        padding: 20px;
        cursor: pointer;
    }
}

/* banner section */
#banner {
    height: 55vh;
    background-image: url("../Assets/Index-images/damian-zaleski-RYyr-k3Ysqg-unsplash\ \(2\).jpg");
    background-size: cover;
    font-size: 32px;
}

#limit {
    font-size: xx-large;
}

/* Shadow on class find cards */
.find:hover {
    box-shadow: 5px 5px 7px 5px rgb(125, 125, 245);
}

/* media queries for smaller devices. less than 601 px width  */
@media only screen and (max-width: 601px) {
    * {
        overflow-x: hidden;
    }

    #banner {
        height: 250px;
        font-size: 28px;
    }

    #limit {
        font-size: 23px;
    }

    #available {
        font-size: 23px;
    }

    form {
        width: 400px;
        margin: auto;
    }

    #signIn,
    #signUp {
        width: 300px;
    }

    #sign {
        width: unset;
    }

    #signedIn,
    #signedUp {
        padding: 15px;
    }
}

/* mdia queries for width device greater than 601 px */
@media only screen and (min-width: 602px) {
    .bigText {
        font-size: 56px;
    }

    #sign {
        width: 700px;
        margin: auto;
    }

    #signedIn,
    #signedUp {
        padding: 50px 40px 20px 20px;
    }

    .form-group {
        border-radius: 10px;
        width: 300px;
        margin: auto;
    }

    .btn {
        margin-top: 15px;
    }
}

/* sign in and sign up forms  */
#signIn,
#signUp {
    border: 1px solid grey;
    background-color: #C4C4C4;
}

#available {
    font-size: xx-large;
}

/* All buttons. on hover only  */
.btn:hover {
    font-weight: bolder;
    background-color: transparent;
    border: 2px solid grey;
    color: black;
}

/* View jobs id */
#jobsView {
    margin: auto;
}

/* footer  */
#footer {
    background-color: #C4C4C4;
}